/** Стиль для избранных смайлов **/
img.asmund-preview-smiles {
    cursor: pointer;
    background: #1b1c20;
    
    padding: 2px 0px;
    border-radius: 3px;
    margin: 0px 3px 0px 0px;
    
    transition: opacity .3s;
    opacity: .06;
}

img.asmund-preview-smiles:hover {
    opacity: 1;
}



/** Стиль для постов с цитатами удалённых сообщений **/
.asmund-find:not(.deleted) {
    position: relative;
}

.asmund-find:not(.deleted):after {
    content: 'Цитата!'!important;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    color: #bee0be;
    position: absolute;
    background: #194c19;
    top: 9px;
    left: 175px;
    width: 24px;
    font-size: 17px;
    clear: unset!important;
    visibility: unset!important;
    height: calc(100% - 19px)!important;
    border-radius: 0 12px 12px 0;
}

.asmund-find:not(.deleted) .messageInfo {
    margin-left: 197px!important;
    border: 2px dashed #194c19;
    border-radius: 3px;
}



.premod {
    position: relative;
}

.premod:after {
    content: 'Нарушение';
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    color: white;
    position: absolute;
    background: #FF0000;
    top: 85px;
    left: 0px;
    width: 24px;
    font-size: 17px;
    clear: unset!important;
    visibility: unset!important;
    height: 120px!important;
    border-radius: 12px 0px 0px 12px;
}

.premod {
    border: 2px dashed #FF0000!important;
}


.premod2 {
    position: relative;
}
.premod2:after {
    content: 'Нарушение';
    position: absolute;
    color: white;
    right: 0px;
    bottom: 0px;
    padding: 4px 6px;
    background: #FF0000;
}
.premod2 {
    border: 2px dashed #FF0000!important;
    /*outline: 2px dashed #FF0000!important;*/
    /*outline-offset: -2px;*/
}


.user_signature:before {
    content: 'Нарушение';
    position: absolute;
    color: white;
    right: 0px;
    margin-top: -12px;
    padding: 4px 6px;
    background: #FF0000;
}
.user_signature {
    border: 2px dashed #FF0000!important;
}